<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Customer Management System</title>

  <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" href="./app/css/iconfont/material-icons.css">
  <link rel="stylesheet" href="./app/css/style.css">

  <script src="./app/index.js"></script>
  <script src="./app/controllers/Nav.js"></script>
  <script src="./app/controllers/Toolbar.js"></script>

</head>
<body>

<md-toolbar class="md-theme-indigo" ng-controller="ToolbarCtrl">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Home" ng-click="toggleLeft()">
      <i class="material-icons">desktop_windows</i>
    </md-button>
    <h2>
      <span>โปรแกรมบริหารจัดการข้อมูลลูกค้า</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Home" ng-click="logout()">
      <i class="material-icons">dialpad</i>
    </md-button>
  </div>
</md-toolbar>

<div layout="column" style="height:700px;" ng-cloak>
  <section layout="row" flex>
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-disable-backdrop
      md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Main Menu</h1>
      </md-toolbar>
      <md-content ng-controller="NavCtrl">
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="go('main')">
              <md-icon md-menu-align-target>
                <i class="material-icons">home</i>
              </md-icon>
              หน้าหลัก
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="go('new')">
              <md-icon md-menu-align-target>
                <i class="material-icons">person_add</i>
              </md-icon>
              เพิ่มข้อมูลลูกค้า
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="go('report')">
              <md-icon md-menu-align-target>
                <i class="material-icons">printer</i>
              </md-icon>
              ระบบรายงาน
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="go('setting')">
              <md-icon md-menu-align-target>
                <i class="material-icons">settings</i>
              </md-icon>
              กำหนดค่าการเชื่อมต่อ
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-content>
    </md-sidenav>
    <div flex>
      <div layout="column">
        <ui-view></ui-view>
      </div>
    </div>
  </section>
</div>

</body>
</html>